.OrderSectionHeader {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}

.OrderSectionBody {
  margin-bottom: 15px;
  padding-bottom: 70px;
}

.TableStyle {
  width: 100%;
}
.TableStyle > thead {
  background-color: #6e5e5e;
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 18px;
}

.TableStyle > thead th {
  padding: 8px 0;
}

.TableStyle > tbody td {
  text-align: center;
  padding: 15px 0;
}

.OddRow {
  background-color: #f8f8f8;
}

@media only screen and (max-width: 768px) {
  .hidexs {
    display: none;
  }
}
